title: Wobsite
layout: default.liquid
---
<p>I write some things occasionally.</p>
{% for post in collections.posts.pages %}
  <article>
    <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
    {{ post.content | truncatewords: 23, '...' }}
  </article>
{% endfor %}
