@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700i';
/* Structural */
body {
  line-height: 1.5;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

header {
  padding: 10px;
  max-width: 14rem;
  min-width: 8rem;
}

#logo {
  border: 2px solid #000;
  border-radius: 50%;
  width: 85%;
}

main {
  max-width: 50rem;
  min-width: auto;
  padding: 10px;
  margin-bottom: 4rem;
}

nav {
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: auto;
}

nav ul li {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 0px 5px;
}

nav ul li a img {
  height: 100%;
  width: 100%;
}

#title {
  margin-bottom: 0px;
}

#postdate {
  margin-top: 0px;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
    align-items: center;
  }
  header {
    max-width: 35rem;
  }
  main {
    max-width: 35rem;
  }
}

/* Style choices */
body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  color: #333;
  background-color: #F7F7EE;
}

footer {
  color: rgba(0, 0, 0, 0.54);
}

.columns .title {
  font-size: 18px;
}

.columns .when {
  color: rgba(0, 0, 0, 0.32);
}

a {
  color: #3b84c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #3667c7;
}

code, pre {
  white-space: pre-wrap;
}
